*{
	box-sizing: border-box;
	margin: 0px;
}
body{
	font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.container{
	width: 1080px;
	min-height: 768px;     /*背景图片显示最小高度*/
	margin:75px auto;
	overflow: hidden;      /*取消外边距合并*/
	background-image: url(note-background.jpg);
	background-position: 0px -30px ;
	background-repeat: no-repeat;
}

/*head部分CSS*/
.head{
	position: fixed;       /*fixed元素进行居中*/
	top: 0px;			   /*fixed元素进行居中*/
	width:inherit;
	height: 75px;
	margin:0px auto;
	background-color: #EDEDED;
	z-index: 1;            /*导航条永远最上层*/
}

.head-logo{
	display: inline-block;
	width: 110px;
	margin:17px 115px;
	color: #666;
	font-size: 24px;
} 

.head-nav{
	display: inline-block; 
	list-style: none;
}

.head-nav li{
	display: inline-block; /*用于列表水平居中*/
	margin:0px 10px;
}

.head-nav li a{
	width: 150px;         /*inline元素宽度由最里层决定*/
	padding: 0px;		  /*重写button的padding，用于装下更多的字符*/
	color: #666;
	font-size:12px;
	text-decoration: none;
}

/*brief部分CSS*/
 .brief {
 	width: inherit;
 	margin-top: 100px;
 }

 .brief-title{
 	margin:30px 100px;
 	font-size: 50px;
 }

 .brief-content{
 	margin: 45px 150px 0px 150px;
 	font-size: 17px;
 }

.brief-img{
	margin:10px 300px;
}


/*subnav部分CSS*/
.subnav-nav{
	margin:50px 0px;
	padding: 0;	
	list-style: none;
	text-align: center;    /*此处的居中要么使用text-align，要么对li使用display:block，一般不计算最外层的总width再对最外层进行display:block*/
}						   /*因为外层的width不一定等于内层width相加，比如这里就莫名其妙多了2px*/
						   /*可以理解为display:block方法只对那些我们 “主动设置” width的元素使用*/

.subnav-nav li{
	display: inline-block;                     
	text-align: center;
}

.subnav-nav li a{
	width: 150px;
	padding: 0px;
	color: #666;
	text-decoration: none;
}


/*note部分css*/
.note{
	text-align: center;
}
.note-model{
	position: relative;                 /*子元素垂直居中*/
	display: inline-block;
	width: 250px;
	min-height: 350px;
	margin: 20px 10px;
	background-image: url(note_bg.jpg);
	border-color:#000;
	border-width:2px;
	border-radius: 30px;
	border-style: solid;
	color: #000;
	text-decoration: none;
}

.note-modeldivForVerticalcenter{       /*垂直居中做法*/
	position: absolute;
	top:50%;
	width: inherit;
	transform: translateY(-50%);
}

.note-model-title {
	margin:5px 20px;
	text-align: left;
	font-size: 20px;
}

.note-model-writetime{
	margin: 5px 20px;
	text-align: center;
	font-size: 10px;
}

.note-model-hr{
	width: 246px;
	color: #666;
}

.note-model-brief{
	margin: 10px 30px;
	text-align: left;
	font-size: 12px;
	word-break:break-word;
}